<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Multi-Column-Select Demo</title>
    <meta name="description" content="Multi Column Select" />
    <meta name="author" content="Dan Smith">
    <link href="multi-column-select.css" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Multi-Column-Select</h1>
        <form>
            <h2>Single Selection Multi-Column-Select</h2>
            <div class="mcs">
            <select name="car" required>
                <option value="Audi">Audi</option>
                <option value="Bugatti" selected>Bugatti</option>
                <option value="Chrysler">Chrysler</option>
                <option value="Daihatsu">Daihatsu</option>
                <option value="Ford">Ford</option>
                <option value="GM">General Motors</option>
                <option value="Honda">Honda</option>
                <option value="Infiniti">Infiniti</option>
            </select>
            </div>
            <h2>Multiple Selection Multi-Column-Select</h2>
            <div class="mcs">
            <select name="multiCar" required>
                <option value="Audi" selected>Audi22</option>
                <option value="Chrysler">Chrysler</option>
                <option value="Daihatsu" selected>Daihatsu</option>
                <option value="Ford">Ford</option>
                <option value="GM">General Motors</option>
                <option value="Honda">Honda</option>
                <option value="Infiniti">Infiniti</option>
            </select>
            </div>
        </form>
    </main>

    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <script>
       var mcs = new multiColumnSelect({
           selector: '.mcs',
           container :    'mcs-container',
           init: true,
           onClick: function(index, value){
               console.log('current index:'+index+' value: '+value);
           }
       });
       //mcs.init();
       //mcs.destroy();
    </script>
</body>
</html>
